.wrapper {
  box-shadow: 4px 4px 12px 0px rgba(var(--text-color), 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid rgba(var(--text-color), 0.9);
  border-radius: 10px;
  max-width: 280px;
  padding: 8px 12px;
  font-size: 14px;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 3px;
    &-thumb {
      background: rgba(var(--text-color), 0.9);
      border-radius: 8px;
      transition: background 0.3s ease-in-out;
      &:hover {
        background: var(--button-hover-color);
      }
    }
  }
}

.contactInfoWrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  transition: all 300ms ease-in-out;
}

.text {
  width: 150px;
  height: 24px;
  text-align: left;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 3px;
    &-thumb {
      background: rgba(var(--text-color), 0.9);
      border-radius: 8px;
      transition: background 0.3s ease-in-out;
      &:hover {
        background: var(--button-hover-color);
      }
    }
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
