.dark-theme {
  --background-color: rgb(33, 53, 71);
  --text-color: 255, 255, 255;
  --button-bg-color: #4e4e4e;
  --button-hover-color: #8287e3;
  --navLink-color: #2f8894;
  --navLink-hover-color: #36a7b6;
  --navLink-active-color: #36c6d9;
}

.light-theme {
  --background-color: rgb(255, 255, 255);
  --text-color: 33, 53, 71;
  --button-bg-color: #b1adad;
  --button-hover-color: #4449a8;
  --navLink-color: #25a0b0;
  --navLink-hover-color: #1f7f8c;
  --navLink-active-color: #18616b;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(var(--text-color), 0.95);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-weight: 500;
  font-family: inherit;
  color: rgba(var(--text-color), 0.95);
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  color: var(--background-color);
  background-color: var(--button-hover-color);
}
button:focus,
button:focus-visible {
  color: rgba(var(--text-color), 0.95);
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  color: rgba(var(--text-color), 0.8);
  border: 1px solid rgba(var(--text-color), 0.8);
}

a {
  font-weight: 500;
  color: currentColor;
  text-decoration: inherit;
}

a:hover {
  color: var(--button-hover-color);
}

body {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 28px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  @media only screen and (min-width: 653px) {
    padding: 0 32px;
  }
}

/* change the color of the error message */
div.go2072408551 {
  box-shadow: 4px 4px 12px 0px rgba(var(--text-color), 0.5);
  border: 1px solid rgba(var(--text-color), 0.95);
  background: var(--background-color);
  color: rgba(var(--text-color), 0.95);
}
